* {
    margin: 0 auto;
}

.header {
    display: flex;
    height: 170px;
    justify-content: space-between;
    align-items: center;
    background-color: #fa912b;
}

.photo {
    background-image: url("../../images/photo.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 50px;
    margin-right: 100px;
}

.logo {
    background-image: url("../../images/logo.png");
    background-size: cover;
    width: 260px;
    height: 170px
}

.photo h1 {
    margin-left: 80px;
}

.search {
    background-color: transparent;
    border: 2px solid gold;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}
